.infoBox {
  width: 100%;
  padding: 10px 0;
  background-color: var(--secondary-forum-color);
}

.title {
  padding: 0 10px;
  margin-bottom: 10px;
  color: var(--fifth-forum-color);
}

.author {
  margin: 10px 10px 10px 0;
  color: var(--forth-forum-color);
}

.date {
  color: var(--forth-forum-color);
}

.members {
  padding: 0 10px;
  color: var(--forth-forum-color);
  font-size: 22px;
}

.body {
  padding: 0 10px;
  margin-top: 40px;
  color: var(--fifth-forum-color);
}

.authorContainer {
  display: flex;
}

.rightThreadSide {
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.newThreadFormContainer {
  width: 100%;
  padding: 20px 10px;
  background-color: var(--secondary-forum-color);
}

.newThreadForm {
  display: flex;
  flex-direction: column;
}

/* From stuff below */

.addNew {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: var(--fifth-forum-color);
  font-size: 18px;
  background-color: var(--tertiary-forum-color);
  justify-self: flex-end;
}

.formInput {
  margin-bottom: 10px;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  background-color: var(--forth-forum-color);
  border: none;
  color: var(--primary-forum-color);
}

.formTextarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: var(--forth-forum-color);
  border: none;
  color: var(--primary-forum-color);
}

.formInput::placeholder, .formTextarea::placeholder {
  color: var(--primary-forum-color);
}

.formInput:focus, .formTextarea:focus {
  outline: none;
}

.formBtn {
  width: 50%;
  background-color: var(--fifth-forum-color);
  padding: 15px 10px;
  color: var(--primary-forum-color);
  border: none;
  border-radius: 15px;
  font-size: 16px;
}

.formBtn:disabled {
  opacity: 0.5;
}